In [1]:
import pandas as pd
import random

random.seed(42)

characters = [
    "Messi","Ronaldo","Einstein","Newton","Tesla","IronMan","Batman",
    "Superman","Spiderman","Joker","Naruto","Goku","Luffy","Sasuke",
    "Doraemon","Mickey","Donald","ElonMusk","BillGates","SteveJobs",
    "Obama","Trump","Modi","Putin","TaylorSwift","Drake","Eminem",
    "Beyonce","Ariana","Rihanna","Shahrukh","Aamir","Salman",
    "Thor","Hulk","CaptainAmerica","Deadpool","Wolverine",
    "Flash","WonderWoman","BlackPanther","Aquaman","Vision",
    "Thanos","Ultron","Loki","Homelander","LightYagami"
]

attributes = [
    "real","fictional","male","female","movie","tv","anime","sports",
    "politics","music","scientist","alive","superpower","villain","animated"
]

data = []

for name in characters:
    row = {"character": name}
    for attr in attributes:
        row[attr] = random.randint(0, 1)
    data.append(row)

df = pd.DataFrame(data)
df.to_csv("akinator_data.csv", index=False)

print("CSV file created with shape:", df.shape)

CSV file created with shape: (48, 16)

In [3]:
df = pd.read_csv("akinator_data.csv")

In [4]:
df.head()

,character,real,fictional,male,female,movie,tv,anime,sports,politics,music,scientist,alive,superpower,villain,animated
0,Messi,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0
1,Ronaldo,0,1,0,1,1,0,0,1,1,1,0,0,1,0,0
2,Einstein,1,0,1,1,1,0,1,0,1,0,1,1,0,0,0
3,Newton,0,1,0,0,0,1,1,1,1,0,1,1,0,1,0
4,Tesla,0,0,0,1,1,1,0,1,0,0,0,1,1,1,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   character   48 non-null     object
 1   real        48 non-null     int64
 2   fictional   48 non-null     int64
 3   male        48 non-null     int64
 4   female      48 non-null     int64
 5   movie       48 non-null     int64
 6   tv          48 non-null     int64
 7   anime       48 non-null     int64
 8   sports      48 non-null     int64
 9   politics    48 non-null     int64
 10  music       48 non-null     int64
 11  scientist   48 non-null     int64
 12  alive       48 non-null     int64
 13  superpower  48 non-null     int64
 14  villain     48 non-null     int64
 15  animated    48 non-null     int64
dtypes: int64(15), object(1)
memory usage: 6.1+ KB

In [6]:
df.describe()

,real,fictional,male,female,movie,tv,anime,sports,politics,music,scientist,alive,superpower,villain,animated
count,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,0.437500,0.520833,0.458333,0.520833,0.500000,0.375000,0.479167,0.500000,0.458333,0.479167,0.479167,0.645833,0.645833,0.458333,0.437500
std,0.501328,0.504852,0.503534,0.504852,0.505291,0.489246,0.504852,0.505291,0.503534,0.504852,0.504852,0.483321,0.483321,0.503534,0.501328
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000